*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Noto sans' , sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin:0;
}

.section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display:flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.split > * {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 15em;
  }

.spacing > * + * {
    margin-top: var(--spacer, 2rem)
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background: blue;
    color:var(--clr-txt, #fff);
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    background: var(--clr-accent, blue);
    border-radius: .25cm;
    transition: transform 250ms ease-in-out;
    opacity: 250ms linear;
}
 .btn:hover,
 .btn:focus {
     transform: scale(1.1);
     opacity: .9;
 }

 .primary-title {
    font-size: 4rem;
    font-size: clamp(3rem,calc(5vw + 1rem), 4.5rem );
    line-height: 1;
    text-transform: uppercase;
 }

 .section-title {
     text-align: center;
     font-size: clamp(2.5rem, calc(5vw), 4rem);
     line-height: 1;
     color: #17353d;
     margin-bottom: 5rem;
}

 .hero {
     color: white;
     text-align: center;
     padding: 15em 0;
     background-color: #222;
     background: url(img/background-img.jpg), radial-gradient(#444, #111);
     background-attachment: fixed;
     background-repeat: no no-repeat;
     background-position: center center;
}